<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='stylesheet' href='/stylesheets/details.css' />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Details</title>
</head>
<body>
    <h2>Airline Details</h2>
    <section id="show-page">
      <div>Airline: </div>
      <div><%= flight.airline %></div>
      <div>Airport: </div>
      <div><%= flight.airport %></div>
      <div>Flight No: </div>
      <div><%= flight.flightNo %></div>
      <div>Departs: </div>
      <div><%= flight.departs %></div>
    </section>
    
    <h2>Tickets</h2>
    <% if (tickets.length) { %>
      <table>
        <thead>
          <tr>
               <th>Seat</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <% tickets.forEach(function(t) { %>
            <tr>
              <td><%= t.seat %></td>
              <td><%= t.price %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    <% } else { %>
      <h5>No Tickets</h5>
    <% } %>
    <a href="/flights/<%= flight._id %>/tickets/new"><h3>New Ticket</h3></a>
    
    <h2>Destinations</h2>
    <% if (flight.destinations.length) { %>
      <table>
        <thead>
          <tr>
               <th>Airport</th>
            <th>Arrival</th>
          </tr>
        </thead>
        <tbody>
          <% flight.destinations.forEach(function(f) { %>
            <tr>
              <td><%= f.airport %></td>
              <td><%= f.arrival %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
  
    <% } %>
    
    <br><br><h2>Add Destination</h2>
    <form id="add-review-form" method="POST"
      action="/flights/<%= flight._id %>/destinations">
      <label>Airport:</label>
      <select name="airport">
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="DEN" selected>DEN</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
        </select>
      <label>Arrival</label>
      <input type="datetime-local" name="arrival" />
      <input type="submit" value="Add Destination">
    </form>
    
    <a id="homepage" href="/">Home</a>
    <a id="newflight" href="flights/new">New Flights</a> 
    <a id="alldaflights" href="/flights">All Flights</a>

</body>
</html>